.idea
lib
mx.truffle/currentAnnotationProcessors
mx.truffle/eclipse*
mx.truffle/env
mx.truffle/checkstyle-timestamps
mx.truffle/netbeans-config.zip
mxtool/.jdk*
mxtool/bin
*.pyc
truffle/**/bin
truffle/**/src_gen
truffle/**/ap
truffle/**/.settings
truffle/**/.classpath
truffle/**/.checkstyle
truffle/**/.project
truffle/**/.factorypath
truffle/**/.externalToolBuilders
truffle/**/*.iml
truffle/**/build.xml
truffle/**/nbproject
truffle/*.dist
workingsets.xml
mxbuild
